body {
    padding: 0;
    margin: 0;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;

}



/* HEADER  START    header*/
.header {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 1.5rem;
    gap: 40vh;
    padding: 0.350rem;
}
.header_link  {
    display: flex;
    gap: 1.25rem;
    font-size: 1.125rem;

}
/* HEADER  END    header*/


/* UPPER PAGE START   upper_container*/
.upper_container {
    display: flex;
    padding: 3rem 0.30rem 6rem 0.30rem;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.upper_container_right{
    flex: 0 0 50%;
    padding: 2.6rem 0.20rem 0 0;
}


.upper_container_left {
    /* width: 50%; */
    flex: 0 2 50%;
    padding: 0 5% 0 20%;
    text-align: left;
}

.sign_up_btn{
    padding: 0.60rem 2rem;
}

.bolder_text{
    font-size: 2.25em;
    font-weight: 900 ;
    margin-bottom: 0;
}
.smaller_text{
    margin-top: 0;
}
/* UPPER PAGE END   upper_container*/


/* RANDOM INFORMATION START  random_information*/
.random_information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9rem;
}

.some_random_information{
    font-size: 2.25em;
    color: #1F2937;
    font-weight: 900;
}
.informative_text{
    padding-top: 12rem;
    color: #646669;
    font-size: 1.125rem;
    text-align: center;
}

.square_container{
    display: flex;
    gap: 3.75rem;
}
.blue_border_square{
    border: 0.25rem solid rgb(26, 115, 210);
    height: 11.25rem;
    width: 11.25rem;
    border-radius: 0.75rem;
}
/* RANDOM INFORMATION END  random_information*/


/* QUOTE CONTAINER START quote_container */
.quote_container{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5rem 21rem 5rem 21rem;
    align-items: center;
 

}

.main_quote{
    flex: 1;
    font-style: italic;
    color: #1F2937;
    font-size: 2.25em;
}

.signature{
    display: flex;
    align-items: flex-end;
    margin: 0 0 auto 30rem; 

}
/* QUOTE CONTAINER END quote_container */


/* CALL TO ACTION START call_to_action_container */
.call_to_action_container{
    display: flex;
    padding: 6rem 1rem;
    justify-content: center;
}
.call_to_action_SUB_container{
    display: flex;

    padding: 0.35rem 0;
    text-align: left;
    gap: 8rem;
}

.call_to_action_left {
    margin: 0 auto;
    max-width: calc(100% - 20px);
    padding-left: 7rem;
    padding-right: 6rem;
}

.call_to_action_right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;

}


.call_to_action_right > .sign_up_btn {
    border: 0.15rem solid rgb(247, 247, 247) ;

}
/* CALL TO ACTION END call_to_action_container */

/* FOOTER START   */
.footer{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: #1F2937;
    color: white;
    margin-top: auto;
}

/* FOOTER END */





/* MISC */

.blue_box {
    background-color: #3882F8;
    color: #F9FAF8;
    font-weight: 100;
    border-radius: 0.75rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}